@import './scss/var';

:root {
  box-sizing: border-box;
  cursor: default;
  color: #222;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 0.875em;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-weight: 400;
  box-sizing: inherit;
}

#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}



.appContainer{  
  border-bottom: $appContainerBorderBottom inset #a3a3a3;
  background-color: #E0E0E0;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

@import './scss/main';
@import './scss/listitem';
@import './scss/menu';
@import './scss/drinkItem';