.listItem{

    min-height: 20vh;
    max-height: 20vh;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    margin: 0.9rem;
    background: #fefefe;
    border-radius: .5rem;

    &__pic{
        width: 30%;
        max-width: 30%;
        height: 100%;

        img{
            display: block;
            height: 100%;
            max-height: calc(20vh - 1rem);
            width: auto;
            height: auto;
            border-radius: 0.5rem;
        }
    }

    &__name{
        margin: auto;
        width: 70%;
        max-width: 70%;
        font-size: 1.5rem;
    }

}